body {
  font-family: Arial, sans-serif;
  background: #090909;
  margin: 0;
  padding: 40px;
  text-align: center;
}

@media (max-width: 600px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}

h1 {
  margin-bottom: 40px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 700px;
  margin: 0 auto;
}

.portfolio-item {
  background: #fa3333;
  border-radius: 50px;
  box-shadow: 3px 8px 28px rgba(244, 6, 6, 0.876);
  padding: 10px;
  transition: box-shadow 1s ease, transform 1s ease;
}



.portfolio-item:hover {
  box-shadow: 3px 8px 28px rgba(244,6,6,0.876);
  transform: scale(1.05);
}

.portfolio-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}